@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --theme-color: #e95bf6;
  --lighter-dark: #2a2a2a;
  --light-color: #fff;
  --dark-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  /* font-size: 62.5%; */
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

.main-heading {
  background: -webkit-linear-gradient(#fccfff, #fef6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in;
}
.sub-heading {
  background: -webkit-linear-gradient(#fccfff, #fef6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in;
}
.section-heading {
  @apply text-4xl font-bold uppercase text-gray-800;
}
::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
/* Nav Bar */
.navLink {
  @apply text-sm font-medium flex justify-center items-center text-gray-50  uppercase;
  transition: all 0.3s ease-in;
}

.enquire {
  @apply text-base font-medium text-[var(--lighter-dark)] bg-[var(--theme-color)];
  padding: 0.3rem 1.5rem;
  border: var(--lighter-dark) 1px solid;
  transition: all 0.3s ease-in;
}
.enquire-reverse {
  @apply text-base font-medium text-[var(--theme-color)] bg-[var(--lighter-dark)];
  padding: 0.3rem 1.5rem;
  border: var(--theme-color) 1px solid;
  transition: all 0.3s ease-in;
}
.downIcon {
  @apply px-1;
  font-size: 1.35rem;
  transition: all 0.3s ease-in;
}
.enquire:hover {
  background-color: var(--lighter-dark);
  color: var(--theme-color);
}
.enquire-reverse:hover {
  background-color: var(--theme-color);
  color: var(--lighter-dark);
}

.dropDown {
  @apply my-9  -mx-2 py-3 absolute top-0 left-0 flex justify-center items-start flex-col gap-3 rounded-sm shadow-md;
  width: 150px;
  background-color: #101010e2;
  transition: 0.3s ease-in;
  transform: scaleY(0) translateY(50%);
  opacity: 0;
}
.dropDownWide.dropDown {
  @apply -mx-5 py-5 px-3 absolute top-0 left-0 flex flex-row justify-start items-center rounded-sm shadow-md flex-wrap;
  width: 820px;
  transition: 0.3s ease-in;
  transform: scaleY(0) translateY(50%) translateX(-15%);
  opacity: 0;
  margin-top: 38px;
}
.dropDownLink {
  @apply py-2 px-1;
}
.dropDownLink:hover .dropDown {
  transform: scaleY(1) translateY(0);
  opacity: 1;
}
.dropDownLink:hover .dropDownWide.dropDown {
  transform: scaleY(1) translateY(0) translateX(-15%);
  opacity: 1;
}
.dropDownLink:hover .downIcon {
  rotate: 180deg;
}
.dropDownLink:hover .navLink {
  color: var(--theme-color);
}
.dropDownLink:hover .downIcon {
  @apply text-gray-50;
}

.dropDown li {
  @apply w-full  text-sm font-medium text-gray-50;
}

.dropDown li:not(:last-child) {
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 0.5rem;
}
.dropDownWide.dropDown li {
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 0.5rem;
  width: 48%;
}
.dropDown li a {
  @apply text-sm font-light uppercase pl-4 text-gray-300;
  transition: all 0.3s ease-in;
}
.dropDown li a:hover {
  color: var(--theme-color);
}

.dropDownItem {
  @apply py-2 px-4 text-sm font-medium;
  transition: all 0.3s ease-in;
}

/* Button */

.button {
  @apply my-5 px-7 py-4 text-[var(--lighter-dark)] bg-[var(--theme-color)] font-medium uppercase border border-[var(--lighter-dark)];
  transition: all 0.3s ease-in;
}
.button:hover {
  @apply bg-[var(--lighter-dark)] text-[var(--theme-color)];
}

/* Practice Area Grid */
.practice-area-description {
  transition: all 0.3s ease-in;
}
.practice-area-title {
  transition: all 0.3s ease-in;
}
.practice-container:hover .practice-area-description {
  transform: translateY(0);
  opacity: 1;
}

.practice-container:hover .practice-area-title {
  @apply -bottom-10 left-[50%] -translate-x-[50%] opacity-0;
}

.practice-area-link {
  @apply border-b-0 border-[var(--theme-color)];

  transform: all 0.3s ease-in;
}
.practice-area-link:hover {
  @apply border-b-2 border-[var(--theme-color)];
  /* color: rgba(46, 46, 46, 0.744); */
}

/* Footer */

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: var(--lighter-dark);
  padding: 70px 0;
}
.footer-col {
  width: 33%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  @apply text-gray-100;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--theme-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  @apply text-gray-100;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  @apply text-gray-100;
  padding-left: 8px;
}
.footer-col .social-links svg {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: var(--theme-color);
  margin: 0 10px 10px 0;
  padding: 5px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links svg:hover {
  transform: translateY(-5px);
  background-color: var(--lighter-dark);
  color: var(--theme-color);
}
.footer-col .social-links a:not(:first-child) {
  margin-left: 5px;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.footer-nav-link li a.active {
  @apply text-[var(--theme-color)] w-fit;
  border-bottom: 2px solid var(--theme-color);
}
.footer-nav-link li a.active:hover {
  @apply text-[var(--theme-color)] whitespace-nowrap;
  border-bottom: 2px solid var(--theme-color);
  margin-left: 8px;
  padding-left: 0px;
}

.newsletter-label:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--theme-color);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.underline-short {
  @apply relative;
}
.underline-short::after {
  transition: all 0.3s ease-in;
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--theme-color);
  height: 2px;
  box-sizing: border-box;
  width: 0px;
}

.underline-short:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: var(--theme-color);
  height: 2px;
  box-sizing: border-box;
  width: 70px;
}

/* Progress Bar */

.circular-progress {
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: conic-gradient(var(--theme-color) 15deg, #f1f1f1 20deg); */
}
.circular-progress::before {
  content: "";
  position: absolute;
  height: 165px;
  width: 165px;
  border-radius: 50%;
  background-color: #fff;
}
.progress-value {
  position: relative;
  color: var(--theme-color);
}

/* Animations */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
@keyframes shake-reverse {
  10%,
  90% {
    transform: translate3d(1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(-1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(-2px, 0, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.shake {
  position: relative;
}

.shake::after {
  content: ""; /* Set the content to an empty string */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e95bf6;
  border-radius: 50%;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  z-index: -1; /* To place it behind .shake */
  opacity: 0; /* Initially, make it transparent */
}

.shake:hover::after {
  opacity: 1; /* When .shake is hovered, make it visible */
  animation: pulse 1.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}

.shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
}
.focus:focus {
  outline-color: var(--theme-color);
}
