@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --theme-color: #e95bf6;
  --lighter-dark: #2a2a2a;
  --light-color: #fff;
  --dark-color: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter;
  /* font-size: 62.5%; */
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 12px;
}
/* Nav Bar */
.navLink {
  @apply text-sm font-medium flex justify-center items-center text-gray-50  uppercase;
  transition: all 0.3s ease-in;
}

.enquire {
  @apply text-base font-medium text-gray-50;
  padding: 0.3rem 1.5rem;
  color: var(--lighter-dark);
  border: var(--lighter-dark) 1px solid;
  background-color: var(--theme-color);
  transition: all 0.3s ease-in;
}
.downIcon {
  @apply px-1;
  font-size: 1.35rem;
  transition: all 0.3s ease-in;
}
.enquire:hover {
  background-color: var(--lighter-dark);
  color: var(--theme-color);
}

.dropDown {
  @apply my-9  -mx-2 py-3 absolute top-0 left-0 flex justify-center items-start flex-col gap-3 rounded-sm shadow-md;
  width: 150px;
  background-color: var(--lighter-dark);
  transition: 0.3s ease-in;
  transform: scaleY(0) translateY(50%);
  opacity: 0;
}
.dropDownWide.dropDown {
  @apply -mx-5 py-5 px-3 absolute top-0 left-0 flex flex-row justify-start items-center rounded-sm shadow-md flex-wrap;
  width: 800px;
  background-color: var(--lighter-dark);
  transition: 0.3s ease-in;
  transform: scaleY(0) translateY(50%);
  opacity: 0;
  margin-top: 38px;
}
.dropDownLink {
  @apply py-2 px-1;
}
.dropDownLink:hover .dropDown {
  transform: scaleY(1) translateY(0);
  opacity: 1;
}
.dropDownLink:hover .downIcon {
  rotate: 180deg;
}
.dropDownLink:hover .navLink {
  color: var(--theme-color);
}
.dropDownLink:hover .downIcon {
  @apply text-gray-50;
}

.dropDown li {
  @apply w-full  text-sm font-medium text-gray-50;
}

.dropDown li:not(:last-child) {
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 0.5rem;
}
.dropDownWide.dropDown li {
  border-bottom: 1px solid var(--theme-color);
  padding-bottom: 0.5rem;
  width: 48%;
}
.dropDown li a {
  @apply text-sm font-light uppercase pl-4 text-gray-300;
  transition: all 0.3s ease-in;
}
.dropDown li a:hover {
  color: var(--theme-color);
}

.dropDownItem {
  @apply py-2 px-4 text-sm font-medium;
  transition: all 0.3s ease-in;
}
